html, body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fbfbfb;
	height: 100%;
}

.mt {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    width: 100%;
    margin: 0 auto;
    padding-left: 0%;
    padding-right: 0%;
    word-break: break-all;
}

.mt .toolBar {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
    border-radius: 5px;
}

.mt .toolBar .toolButton{
    padding-left: 6px;
    padding-right: 6px;
}

.mt .toolBar .toolDivider{
    width: 2px;
    height: auto;
    background: #aaa;
    margin-left: 8px;
    margin-right: 8px;
}

.mt .toolBar .emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: auto;
}

.mt .bundel{
    padding-top: 5px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
}

.mt .bundel .mtEditor {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
	height:  100%;
    box-sizing: border-box;
}

.mt .bundel .mtEditor .CodeMirror{
    max-height: calc(100vh - 120px);
    min-height: 100%;
}

.mt .bundel .mtEditor .mtEditorText {
	margin-top: 5px;
	border: 1px solid #ccc;
    overflow: auto;
    margin: 0 auto;
	flex-grow: 1;
    flex-shrink: 1;
    height:  100%;
    resize: none;
}

.mt .bundel .bundelDivider{
    width: 2px;
    height: 100%;
    background: purple;
    margin-left: 5px;
    margin-right: 5px;
}

.mt .bundel .mtViewer {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
    min-height: 100%;
    box-sizing: border-box;
}

.mt .bundel .mtViewer::-webkit-scrollbar{
    display: none;
}
.CodeMirror-vscrollbar::-webkit-scrollbar {
    display: none;    /* 隐藏滚动条 */
}

.mt .bundel .mtViewer#mt_viewer_live{
    display: block;
}

.mt .bundel .mtViewer#mt_viewer_real{
    display: none;
}

.mt .bundel .mtViewer#mt_viewer_real iframe{
    width: 100%;
    height: 100%;
}